@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  --color-maroon: #800000;
  --color-gold: #C49A4C;
  --color-cream: #EEE8AA;
  --color-dark: #1C1C1C;
  --font-heading: "Noto Serif Display", serif;
  --font-body: "Plus Jakarta Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

p {
  font-family: var(--font-body);
}

html,
body {
  width: 100%;
  height: 100%;
  /* allow scroll (don't hide here) */
  background-color: #fff;
  color: var(--color-dark);
  position: relative;
}

/* Scrollbar ka width */
::-webkit-scrollbar {
  width: 10px;
}

/* Scrollbar track (background) */
::-webkit-scrollbar-track {
  background: var(--color-gold);
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
  /* width: 17px; */
  background: var(--color-maroon);
  border-radius: 5px;
  border: 2px solid var(--color-gold);
}

/* Handle hover effect */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-cream);
}


#smooth-wrapper {
  overflow: hidden;
}

#smooth-content {
  position: relative;
}

.img {
  width: 100%;
  display: block;
}

.col_sm1 {
  width: 100%;
  display: block;
  overflow: auto;
}

.col_sm2 {
  width: 48%;
  margin: 1%;
}

.col_sm3 {
  width: 31%;
  margin: 1%;
  float: left;
}

.col_sm4 {
  width: 23%;
  margin: 1%;
}

.col_sm5 {
  width: 18%;
  margin: 1%;
}

.col_sm6 {
  width: 13%;
  margin: 1%;
}

.col_sm7 {
  width: 9%;
  margin: 1%;
}

.top {
  width: 100%;
  margin: 0 auto;
  max-width: 1600px;
}

.top2 {
  width: 98%;
  margin: auto;
}

.bg_clr {
  background-color: #fff;
}

.col_sm2 {
  width: 48%;
  margin: 1%;
  /* display: flex; */
  float: left;
}

.title {
  margin: 1%;
}

.title h2 {
  margin-bottom: 8px;
  letter-spacing: 0.02em;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 40px;
}

.margin {
  margin: 1%;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex {
  display: flex;
}

.banner {
  padding-top: 153px;
}

/* ==================== */
/* ==================== */
/* ===WelcomeSection=== */
/* ==================== */
/* ==================== */

.room-suit-head h3::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  width: 40px;
  height: 2px;
  background-color: #bf930f;
}

.room-suit-head h3 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #bf930f;
  letter-spacing: 2px;
  line-height: 140%;
  margin: 0;
  padding-left: 50px;
  position: relative;
  display: inline-block;
}

.room-suit-head h2 {
  font-family: "Noto Serif Display", serif;
  font-size: 38px;
  font-weight: 500;
  color: var(--color-maroon);
  line-height: 140%;
  margin: 0;
  position: relative;
  display: block;
}


/* .blog post  */

.blog_post {
  padding: 50px;
  border: 1px solid;
  display: flex;
  flex-flow: column;
}

.blog_img {
  overflow: hidden;
}

.blog_img img {
  width: 100%;
  transition: all 0.4s ease-in-out;
}

.blog_img img:hover {
  transform: scale(1.1);
}

.blog_content h3 {
  font-size: 28px;
  font-weight: 700;
  margin: 10px 0px;
  line-height: 150%;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.blog_content p {
  font-size: 16px;
  font-weight: 400;
  margin: 10px 0px;
  line-height: 160%;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.blog_content .read_mor {
  position: relative;
  z-index: 2;
  overflow: hidden;
  vertical-align: middle;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: none;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  padding: 20px 30px;
  -webkit-perspective: 320px;
  perspective: 320px;
  border: 1px solid #fff;
  color: #fff;
}

.blog_content .read_mor:hover {
  border-color: transparent;
}

.blog_content .read_mor::before {
  position: absolute;
  content: "";
  z-index: -1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.blog_content .read_mor:hover::before {
  background-color: #BF930F;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}


/* footer=== */


.img {
  width: 100%;
}

.clear {
  clear: both;
}

.col_sm4_4 {
  float: left;
  width: 22%;
  margin: 1.4%;
  border: var(--color-gold) 1px solid;
  min-height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.split-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 200px;
  margin: 1%;
}

.left-side {
  background: url(../images/footer-img3.png) no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-side {
  background: linear-gradient(135deg, #ffffff, #ffffff);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.text-box {
  text-align: center;
  color: white;
  padding: 2rem;
  border-radius: 10px;
}

.text-box h2 {
  font-size: 27px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
  color: #fff;
}

.text-box a {
  font-size: 20px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
  color: var(--color-maroon);
  text-transform: uppercase;
  word-spacing: 0.5px;
}

.text-box a .f-arrow-icon {
  margin-left: 16px;
  min-width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  border: 2px solid var(--color-maroon);
  transition: all 0.4s ease-in-out;
  border-radius: 50%;
  padding-top: 2px;
}

.text-box a .f-arrow-icon img {
  filter: brightness(0) saturate(100%) invert(13%) sepia(100%) saturate(2382%) hue-rotate(358deg) brightness(93%) contrast(101%);
  width: 18px;
}

.text-box a .f-arrow-icon:hover {
  background-color: #fff;
  transition: all 0.4s ease-in-out;
}


.social-container {
  padding: 20px 0;
}

.social-icon {
  width: 40px;
  height: 40px;
  background-color: var(--color-gold);
  border: 1px solid var(--color-gold);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon:hover {
  background-color: var(--color-maroon);
  transition: background-color 1s ease;
}

.col_sm4_4 a {
  color: var(--color-maroon);
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 10px;
  letter-spacing: 0.5px;
  font-size: 16px;
  font-weight: 400;
}

.social-icon img {
  width: 20px;
}

/* Footer Styles */
.footer {
  background-color: var(--color-cream);
  color: var(--color-dark);
  /* padding: 60px 0 0; */
  font-family: Arial, sans-serif;
}

.footer-container {
  border-top: var(--color-gold) solid 1px;
  padding-top: 40px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1.5fr 1.5fr 2fr;
  gap: 40px;
}

.footer-column1 {
  border-right: 0.5px solid var(--color-gold);
  padding-right: 30px;
}

.footer-column2 {
  border-right: 0.5px solid var(--color-gold);
  padding-right: 30px;
}

.footer-column1:last-child {
  border-right: none;
}

.footer-column1 h3,
.footer-column2 h3 {
  color: var(--color-maroon);
  font-size: 18px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.footer-column1 p {
  line-height: 1.6;
  color: var(--color-dark);
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.footer-column1 ul,
.footer-column2 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column1 ul li,
.footer-column2 ul li {
  margin-bottom: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.footer-column1 ul li img,
.footer-column2 ul li img {
  width: 16px;
  margin-right: 8px;
  filter: brightness(0) saturate(100%) invert(11%) sepia(0%) saturate(0%) hue-rotate(313deg) brightness(103%) contrast(89%);
  transition: filter 0.3s ease;
}

.footer-column1 ul li a,
.footer-column2 ul li a {
  color: var(--color-dark);
  text-decoration: none;
  transition: all 0.3s ease;
  padding-bottom: 2px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.footer-column1 ul li:hover a,
.footer-column2 ul li:hover a {
  color: var(--color-maroon);
}

.footer-column1 ul li:hover img,
.footer-column2 ul li:hover img {
  filter: brightness(0) saturate(100%) invert(13%) sepia(100%) saturate(2382%) hue-rotate(358deg) brightness(93%) contrast(101%);
  transition: filter 0.3s ease;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-item {
  display: flex;
  gap: 10px;
}

.contact-item .icon-location {
  border: 1px solid var(--color-gold);
  padding: 10px;
  width: 38px;
  background-color: var(--color-gold);
  height: 38px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-item .icon-location:hover {
  background-color: var(--color-maroon);
  transition: background-color 1s ease;
}

.contact-item .icon-location img {
  width: 20px;
}

.contact-info p {
  line-height: 1.6;
  color: var(--color-dark);
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

.contact-item a {
  line-height: 1.6;
  color: var(--color-dark);
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  margin: 0;
  padding-top: 6px;
}

.contact-item:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.contact-item p {
  margin: 0;
  line-height: 1.5;
}

.relative {
  position: relative;
}

.footer-bottom {
  background-color: var(--color-cream);
  border-top: 1px solid var(--color-gold);
  padding: 40px 0;
  margin-top: 40px;
}

.footer-bottom2 {
  background-color: var(--color-cream);
  border-top: 1px solid var(--color-gold);
  padding: 28px 0;
}

.footer-bottom-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom p {
  margin: 0;
  color: var(--color-dark);
  font-family: "Plus Jakarta Sans", sans-serif;
}

.social-links {
  display: flex;
  gap: 20px;
}

.ftr-logo {
  text-align: center;
  margin-bottom: 10px;
}

.ftr-logo img {
  height: auto;
  width: 120px;
}

.social-link {
  color: var(--color-dark);
  text-decoration: none;
  padding: 8px 16px;
  border: 1px solid var(--color-maroon);
  border-radius: 4px;
  transition: all 0.3s ease;
}

.social-link:hover {
  color: var(--color-cream);
  background-color: var(--color-maroon);
  border-color: var(--color-maroon);
}

.bg_clr2 {
  background-color: rgba(212, 175, 55, 0.1);
}

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(0deg,
      rgba(15, 16, 19, 0.5),
      rgba(15, 16, 19, 0.5));
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay2 {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-flex {
  display: flex;
  justify-content: center;
}

.img-flex h2 {
  font-size: 27px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
  color: #fff;
}


.copyright-content {
  max-width: 98%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.copyright-content p {
  margin: 0;
  color: var(--color-dark);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.footer-links {
  display: flex;
  gap: 30px;
}

.footer-links a {
  color: var(--color-dark);
  text-decoration: none;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  transition: color 0.3s ease;
  position: relative;
}

.footer-links a:hover {
  color: var(--color-maroon);
}

.footer-links a::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--color-maroon);
  transition: width 0.3s ease;
}

.footer-links a:hover::after {
  width: 100%;
}

/* .gallery section ==== */
.gallery-card {
  position: relative;
  text-align: center;
  z-index: 2;
}

.gallery-card .box-img {
  display: block;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.gallery-card .box-img img {
  width: 100%;
  -webkit-transition: 1.3s all ease;
  transition: 1.3s all ease;
}

.gallery-card .box-img:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: -webkit-linear-gradient(bottom, rgba(24, 26, 30, 0.5), rgba(24, 26, 30, 0.5));
  background: linear-gradient(0deg, rgba(24, 26, 30, 0.5), rgba(24, 26, 30, 0.5));
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}

.gallery-card:hover .box-img:before {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.gallery-card:hover .box-img img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

/* .gallery-card_wrapp:nth-child(2) {
  margin-top: 120px;
}

.gallery-card_wrapp:nth-child(3) {
  margin-top: 240px;
} */


/* ==================== */
/* ==================== */
/* ===BannerSection=== */
/* ==================== */
/* ==================== */

.banner-swiper {
  width: 100%;
  height: calc(100vh - 153px);
  position: relative;
}

.banner-slide {
  position: relative;
  display: flex !important;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-position: center;
}

.banner-content {
  max-width: 600px;
  opacity: 0;
  transform: translateY(60px);
  transition: all 1s ease;
}

.banner-content.active {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.banner-content h2 {
  font-size: 50px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 900;
  font-family: "Noto Serif Display", serif;
  line-height: 140%;
}

.banner-content p {
  font-family: 'Plus Jakarta Sans';
  font-size: 18px;
  color: #fff;
  line-height: 140%;
  font-weight: 400;
  margin-bottom: 35px;
}

.banner-content a {
  display: inline-block;
  padding: 0.7rem 1.8rem;
  background: #fff;
  color: #000;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.3s;
}

.banner-content a:hover {
  background: #c49a4c;
  color: #fff;
}

/* Navigation Buttons */
.banner-button-next,
.banner-button-prev {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(6px);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  /* make sure buttons are above slides */
}

.banner-button-prev {
  left: 40px;
}

.banner-button-next {
  right: 40px;
}

.nav-thumb {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: brightness(0.8);
  transition: background-image 0.6s ease, transform 0.4s ease;
}

.banner-button-prev:hover .nav-thumb,
.banner-button-next:hover .nav-thumb {
  transform: scale(1.05);
}

.banner-button-next::after,
.banner-button-prev::after {
  position: relative;
  z-index: 2;
  font-size: 22px;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.banner-button-prev::after {
  content: "←";
}

.banner-button-next::after {
  content: "→";
}

.button-scroll {
  position: relative;
}

.button-scroll::before {
  content: "";
  width: 102px;
  height: 38px;
  clip-path: path("M26.1761 14.5597C29.6935 5.76616 38.2103 0 47.6813 0H56.3187C65.7897 0 74.3065 5.76616 77.8239 14.5597C79.2521 18.1303 81.547 21.2891 84.5013 23.7511L104 40H0L19.4987 23.7511C22.453 21.2891 24.7479 18.1303 26.1761 14.5597Z");
  background-color: #800000;
  position: absolute;
  bottom: 7px;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 999;
  scale: 1.4;
}

/* ==================== */
/* ==================== */
/* ===BookingSection=== */
/* ==================== */
/* ==================== */

.booking-form {
    width: 100%;
    margin: 0 auto;
    border-top: 4px solid #800000;
    position: relative;
    padding: 34px;
    display: flex
;
    gap: 12px;
    flex-wrap: wrap;
    background-color: #c49a4c;
}

.custom-select {
  position: relative;
  flex: 1;
  user-select: none;
  display: flex;
  flex-direction: column;
}

.input-label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 14px;
  color: #000;
}

.select-selected {
    background: transparent;
    color: #1C1C1C;
    border: 1px solid #800000f2;
    padding: 12px 15px;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: 0.3s;
}

.select-selected:hover {
  /* border-color: #bfa02b; */
}

.select-items {
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  border: 2px solid #C49A4C;
  border-radius: 0 0 12px 12px;
  z-index: 1;
  width: 100%;
  max-height: 160px;
  overflow-y: auto;
  display: none;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.35);
}

.select-items div {
  padding: 10px 15px;
  cursor: pointer;
  color: #1C1C1C;
  transition: 0.3s;
}

.select-items div:hover {
  background: #C49A4C;
  color: #fff;
}

.select-items {
  scrollbar-width: thin;
  scrollbar-color: #C49A4C #fff;
}

.select-items::-webkit-scrollbar {
  width: 8px;
}

.select-items::-webkit-scrollbar-thumb {
  background-color: #C49A4C;
  border-radius: 10px;
}

#dateRange {
 background: transparent;
    color: #1C1C1C;
    border: 1px solid #800000f2;
    padding: 12px 15px;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: 0.3s;
    outline: none;
}

button {
    background: #800000;
    color: #fff;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: 0.3s;
}

button:hover {
  background: #c49a4c;
  transform: translateY(-2px);
}

.guest-dropdown {
  position: absolute;
  top: calc(100% + 6px);
  left: 0;
  width: 260px;
  background: #fff;
  border: 2px solid #C49A4C;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  display: none;
  padding: 15px;
  color: #1C1C1C;
  z-index: 10;
}

.guest-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.guest-label {
  font-weight: 600;
  font-size: 14px;
}

.guest-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.guest-controls button {
  background: #C49A4C;
  border: none;
  color: #fff;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  line-height: 1;
  padding: 0;
  transition: 0.3s;
}

.guest-controls button:hover {
  background: #bfa02b;
}

.guest-count {
  width: 25px;
  text-align: center;
  font-weight: bold;
  color: #1C1C1C;
}

/* .booking-form::before {
  content: "";
  width: 200px;
  height: 50px;
  clip-path: path("M26.1761 14.5597C29.6935 5.76616 38.2103 0 47.6813 0H56.3187C65.7897 0 74.3065 5.76616 77.8239 14.5597C79.2521 18.1303 81.547 21.2891 84.5013 23.7511L104 40H0L19.4987 23.7511C22.453 21.2891 24.7479 18.1303 26.1761 14.5597Z");
  background-color: #800000;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
} */


@media (max-width: 1600px) {
  nav section:nth-child(1) {
    padding: 15px 1% !important;
  }
}

@media (max-width: 1400px) {
  .about-section .img-box .about-wrapp {
    max-width: 450px;
  }

  .img-box .about-wrapp:before,
  .img-box .about-wrapp:after {
    max-width: 550px;
  }
}

@media (max-width: 1300px) {
  .split-container {
    height: 150px;
  }

  .footer-container {
    gap: 20px;
  }

  .footer-column1,
  .footer-column2 {
    padding-right: 20px;
  }

  .text-box a {
    font-size: 16px;
    word-spacing: 0px;
    display: inline-flex;
    align-items: center;
  }

  .text-box a .f-arrow-icon {
    padding-top: 4px !important;
  }

  .text-box a span {
    margin-left: 5px;
    min-width: 26px;
    height: 27px;
  }

  .text-box h2 {
    font-size: 20px;
  }

  .top-bar-left P,
  .top-bar-left a,
  .top-bar-right ul li p,
  .top-bar-right ul li a,
  .menu p,
  .rooms p,
  .hotel p,
  .booking p,
  .menu-cover .menu-list ul li {
    font-size: 13px;
    line-height: 120%;
  }

  .banner {
    padding-top: 135px;
  }

  .rooms,
  .hotel,
  .menu,
  .booking {
    width: 170px;
    height: 90px;
  }

  #logo {
    height: 137px;
    width: 170px;
  }

  i {
    font-size: 13px;
  }

  .menu-cover .menu-list ul>li:has(> ul > li)::before {
    width: 20px;
    height: 20px;
    line-height: 20px;
  }

  .banner-swiper {
    height: calc(100vh - 135px);
  }
}

@media (max-width: 1200px) {
  .about-content {
    padding: 0px !important;
  }
}

@media (max-width: 1100px) {
  .footer-column1 p {
    font-size: 15px;
  }

  .about-section .img-box .about-wrapp {
    max-width: 420px;
  }

  .img-box .about-wrapp .box-content {
    padding: 34px 0px;
  }

  .footer-column1 ul li a,
  .footer-column2 ul li a {
    font-size: 15px;
  }

  .contact-item {
    gap: 7px;
  }

  .about-content p {
    line-height: 1.4;
    font-size: 18px;
  }

  .img-box .about-wrapp:before,
  .img-box .about-wrapp:after {
    max-width: 476px;
  }

  .top-bar-right ul li:nth-child(2) {
    display: none;
  }
}


@media (max-width: 1000px) {
  .text-box a span {
    padding-top: 3px;
  }

  .img-box .about-wrapp:before,
  .img-box .about-wrapp:after {
    max-width: 414px;
  }

  .about-section .img-box .about-wrapp .img_2 .img {
    width: 86%;
  }

  .about-section .img-box .about-wrapp {
    gap: 15px !important;
  }

  .img-box .about-wrapp:before,
  .img-box .about-wrapp:after {
    max-width: 485px;
  }

  .about-section .img-box .about-wrapp .img_2 .img {
    width: 100%;
  }

  .img-box .about-wrapp .box-content {
    padding: 30px 0px !important;
  }


  .about-section .img-box .about-wrapp {
    max-width: 420px;
  }

  .room-suit-head h2 {
    font-size: 30px;
  }

  .split-container {
    height: 130px;
  }

  .text-box a {
    font-size: 14px;
  }

}

@media (max-width: 960px) {
  .right-brd-none {
    border-right: none;
  }

  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .col_sm4_4 {
    width: 47.2%;
  }
}

@media (max-width: 850px) {

  .col_sm2 {
    width: 98%;
  }

  .rooms,
  .hotel,
  .menu,
  .booking {
    width: 150px;
  }

  .top-bar-right ul li:first-child {
    display: none;
  }

  .top-bar-right ul li {
    border-left: unset;
    padding-left: 0px;
  }
}

/* Responsive Design */
@media (max-width: 767px) {
  .banner {
    padding-top: 89px;
  }


  #logo {
    height: 90px;
    padding: 2px 0 14px;
  }

  nav section:nth-child(1) {
    display: none;
  }

  /* .footer-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  } */

  .split-container {
    height: 150px;
  }

  .footer-bottom-container {
    flex-direction: column;
  }

  .col_sm2 {
    width: 98%;
  }

  .text-box h2 {
    font-size: 1.5rem;
  }

  .text-box a {
    font-size: 1rem;
  }

  .text-box a {
    min-width: 30px;
    height: 30px;
    padding-top: 1px !important;

  }

  .footer-column {
    border-right: none;
    border-bottom: 1px solid #333;
    padding-right: 0;
    padding-bottom: 30px;
  }

  .footer-column:nth-child(2n) {
    border-right: 1px solid #333;
    padding-right: 30px;
  }

  .footer-column:last-child,
  .footer-column:nth-last-child(2) {
    border-bottom: none;
    padding-bottom: 0;
  }

  /* .stats-container {
    flex-direction: column;
    gap: 40px;
  } */

  .stat-item::after {
    display: none;
  }

  .stat-number {
    font-size: 3rem;
  }

  .stat-label {
    font-size: 1rem;
  }

  .stats-actions {
    flex-direction: column;
    align-items: center;
  }

  .btn-primary,
  .btn-secondary {
    width: 200px;
  }

  .side-nav {
    width: 100%;
  }

  .menu-close {
    width: 35px;
    height: 35px;
    right: 30px;
  }

  .rooms,
  .hotel {
    display: none;
  }

  .banner-swiper {
    height: calc(100vh - 90px);
  }
}

@media (max-width:600px) {

  .footer-container {
    grid-template-columns: 1fr;
  }

  .footer-column2,
  .footer-column1 {
    border-right: none;
    padding-left: 7px;
  }
}

@media (max-width: 500px) {
  .banner {
    padding-top: 129px;
  }

  .banner-swiper {
    height: calc(100vh - 130px);
  }

  .text-box h2 {
    font-size: 1.2rem;
  }

  .col_sm4_4 {

    min-height: 120px;
  }

  .text-box a {
    font-size: 0.8rem;
  }

  .menu-close i {
    font-size: 13px;
  }

  .menu-close {
    width: 30px;
    height: 30px;
  }

  .flex-between .flex:nth-child(2) {
    order: 1;
  }

  .flex-between .flex:nth-child(3) {
    order: 2;
  }

  .menu p,
  .booking p {
    display: none;
  }



  .menu,
  .booking {
    background-color: transparent;
    width: 80px;
    height: 90px;
  }

  .menu i,
  .booking i {
    font-size: 20px;
  }

  #logo {
    position: static;
    width: 180px;
    order: 2;
    height: 130px;
    transform: unset;
    padding: 5px 0 25px;
  }

  nav section:nth-child(1) {
    display: none;
  }

  .footer-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .footer-column {
    border-right: none;
    border-bottom: 1px solid #333;
    padding-right: 0;
    padding-bottom: 20px;
  }

  .footer-column:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }

  .footer-bottom-container {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

  .social-links {
    justify-content: center;
  }

  .copyright-content {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

  .footer-links {
    gap: 20px;
  }
}

@media (max-width: 360px) {
  .col_sm4_4 {
    width: 98%;
  }
}

@media (max-width: 320px) {
  .text-box a .f-arrow-icon {
    margin-left: 2px;
  }

  .about-section .img-box .about-wrapp {
    bottom: -52px !important;
  }

  .img-box .about-wrapp:before,
  .img-box .about-wrapp:after {
    height: 182px !important;
  }

  .img-box .about-wrapp .box-content {
    padding: 10px 0px !important;
  }

  .img-box .about-wrapp:after {
    height: 220px !important;
  }

  .pading {
    padding: 2rem 2.75rem !important;
  }
}


/* .about section === */
.bg_clr3 {
  background-color: var(--color-cream);
}

.about-section .img-box {
  position: relative;
  z-index: 2;
  margin-bottom: 104px;
  box-sizing: border-box;
}

.about-section .img-box .img-area {
  background-color: var(--color-gold);
  padding: 24px;
  box-sizing: border-box;
}

.about-section .img-box .img-area .img-paralax {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.about-section .img-box .img-area img {
  translate: none;
  rotate: none;
  scale: none;
  transform: translate(0%, -8.2266%) translate3d(0px, 0px, 0px) scale(1.2, 1.2);
  max-width: 100%;
  height: auto;
  width: 100%;
}

.about-section .img-box .about-wrapp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 30px;
  position: absolute;
  left: 24px;
  bottom: -80px;
  z-index: 2;
}

.about-section .img-box .about-wrapp .img_2 {
  max-height: 347px;
  margin-top: 24px;
}

.img-box .about-wrapp:before,
.img-box .about-wrapp:after {
  content: "";
  position: absolute;
  left: -24px;
  top: 0;
  width: 678px;
  height: 245px;
  background: #eee8aa;
  z-index: -1;
}

.img-box .about-wrapp:after {

  background: var(--color-maroon);
  height: 269px;
  z-index: -2;

}

.flex {
  display: flex;
}

.img-box .about-wrapp .box-content {
  padding: 56px 0px;
  max-width: 205px;
  display: block;
  text-align: center;
}

.about-content {
  padding: 60px 0 0 0;
}

.about-content p {
  font-family: var(--body-font);
  margin: 16px 0 18px 0;
  color: #000;
  line-height: 1.625;
  font-size: 20px;
  text-align: justify;
}

/* Statistics Section */
.stats-section {
  /* background: linear-gradient(135deg, var(--color-maroon) 0%, var(--color-dark) 100%); */
  padding: 30px 0;
  text-align: center;
  color: white;
  position: relative;
  overflow: hidden;
}

.stats-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('../images/logo-bg-shape.png') center/cover;
  opacity: 0.1;
  z-index: 0;
}

.stats-container {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 80px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0px;
  position: relative;
  z-index: 1;
  margin-bottom: 50px;
}

.stat-item {
  text-align: center;
  position: relative;
}

.stat-item::after {
  content: '';
  position: absolute;
  right: -40px;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 60px;
  background: var(--color-gold);
  opacity: 0.5;
}

.stat-item:last-child::after {
  display: none;
}

.stat-number {
  font-family: var(--font-heading);
  font-size: 3rem;
  font-weight: 700;
  color: var(--color-gold);
  line-height: 1;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.stat-label {
  font-family: var(--font-heading);
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--color-maroon);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.stats-actions {
  display: flex;
  justify-content: left;
  gap: 30px;
  position: relative;
  z-index: 1;
}

.btn-primary,
.btn-secondary {
  position: relative;
  z-index: 2;
  overflow: hidden;
  vertical-align: middle;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: none;
  text-transform: uppercase;
  text-align: center;
  font-family: var(--font-body);
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  padding: 20px 30px;
  -webkit-perspective: 320px;
  perspective: 320px;
  text-decoration: none;
}

.btn-primary {
  color: #fff;
  background: var(--color-maroon);
  padding: 0px 50px;
}

.btn-primary:hover {
  border-color: transparent;
  color: var(--color-dark);
}

.btn-primary::before {
  position: absolute;
  content: "";
  z-index: -1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.btn-primary:hover::before {
  background-color: #fff;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.btn-secondary {
  border: 1px solid var(--color-dark);
  color: var(--color-dark);
}

.btn-secondary:hover {
  border-color: transparent;
  color: #fff;
}

.btn-secondary::before {
  position: absolute;
  content: "";
  z-index: -1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: var(--color-gold);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.btn-secondary:hover::before {
  background-color: var(--color-gold);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}